In [135]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

<h2> Feature Selection on OnlineNewsPopularity </h2>

Exercise
1. Load the dataset 
2. Drop the Column which isn't required

In [136]:
 # read the csv file from the link provided
 # drop the column that is not required from the dataset(url)
data = pd.read_csv("OnlineNewsPopularity.csv")
data= data.drop('url',axis=1)
data.head()

,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,0.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,0.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,0.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,0.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,0.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

Exercise 
1. Scale the data using a appropriate scaler and re-asign the column names after scaling.
2. The function below should return scaled result in the form of DataFrame

In [137]:
# hint: Use MinMaxScaler for scaling
def scale_data(df):
    # create a MinMaxScaler object
    scaler = MinMaxScaler()

    # fit and transform the data
    scaled_data = scaler.fit_transform(df)

    # reassign the column names after scaling
    scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

    return scaled_df

In [138]:
scaled_df = scale_data(data)
print(scaled_df.head())

    timedelta   n_tokens_title   n_tokens_content   n_unique_tokens  \
0         1.0         0.476190           0.025844          0.000947
1         1.0         0.333333           0.030092          0.000863
2         1.0         0.333333           0.024900          0.000820
3         1.0         0.333333           0.062662          0.000719
4         1.0         0.523810           0.126505          0.000593

    n_non_stop_words   n_non_stop_unique_tokens   num_hrefs   num_self_hrefs  \
0            0.00096                   0.001254    0.013158         0.017241
1            0.00096                   0.001218    0.009868         0.008621
2            0.00096                   0.001021    0.009868         0.008621
3            0.00096                   0.001024    0.029605         0.000000
4            0.00096                   0.000832    0.062500         0.163793

    num_imgs   num_videos  ...   min_positive_polarity  \
0   0.007812          0.0  ...                0.100000
1   0.007812          0.0  ...                0.033333
2   0.007812          0.0  ...                0.100000
3   0.007812          0.0  ...                0.136364
4   0.156250          0.0  ...                0.033333

    max_positive_polarity   avg_negative_polarity   min_negative_polarity  \
0                     0.7                0.650000                   0.400
1                     0.7                0.881250                   0.875
2                     1.0                0.533333                   0.200
3                     0.8                0.630303                   0.400
4                     1.0                0.779808                   0.500

    max_negative_polarity   title_subjectivity   title_sentiment_polarity  \
0                0.800000             0.500000                   0.406250
1                0.900000             0.000000                   0.500000
2                0.866667             0.000000                   0.500000
3                0.833333             0.000000                   0.500000
4                0.950000             0.454545                   0.568182

    abs_title_subjectivity   abs_title_sentiment_polarity    shares
0                 0.000000                       0.187500  0.000702
1                 1.000000                       0.000000  0.000842
2                 1.000000                       0.000000  0.001778
3                 1.000000                       0.000000  0.001422
4                 0.090909                       0.136364  0.000598

[5 rows x 60 columns]

5. Perform train_test_split

In [139]:
X = data.loc[:,:' abs_title_sentiment_polarity']
y = data[' shares']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=50)
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)
y_train =y_train.astype('int')

6. Write a function which returns the list of k-Best features where k being the number of features required

In [140]:
#use chi2
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

def select_k_best_features(X, y, feature_names, k):
    selector = SelectKBest(chi2, k=k)
    selector.fit(X, y)  
    X_new = selector.transform(X)
    feature_indices = selector.get_support(indices=True)
    selected_feature_names = [feature_names[i] for i in feature_indices]
    
    return selected_feature_names

Print the results

In [141]:
k = 10
selected_feature_names = select_k_best_features(X_train_scaled, y_train.values.ravel(), X_train.columns, k)

print(selected_feature_names)

[' data_channel_is_lifestyle', ' data_channel_is_entertainment', ' data_channel_is_socmed', ' data_channel_is_tech', ' data_channel_is_world', ' weekday_is_monday', ' weekday_is_wednesday', ' weekday_is_saturday', ' weekday_is_sunday', ' is_weekend']

<h3>=> Describe about feature selection and explain your code in detail?</h3>

In [142]:
# Answer
#Feature selection is the process of selecting a subset of the most important features from the original feature set that are most relevant to the target variable. It is used to reduce the dimensionality of the feature space, remove noise, and improve the performance of the machine learning model by focusing on the most informative features.
#The select_k_best_features function takes as input a feature matrix X, a target variable y, a list of feature names feature_names, and an integer k, and returns a list of the top k feature names based on the chi-squared test.
#The function uses SelectKBest from sklearn.feature_selection to perform feature selection based on the chi-squared test. It fits the selector on the original feature matrix X and selects the top k features by transforming the feature matrix X using the transform method.
#The function then gets the indices of the selected features by calling the get_support method of the SelectKBest object with indices=True. Finally, it returns the names of the selected features in the feature_names list as a list of strings.

<h2> Model selection on Algerian_forest_fires_dataset_UPDATE-1 dataset  </h2>
<h3># Exercise (Hint use Logistic Regression, SVC, Ridge and Lasso to compare the models.)</h3>
<h4>LinearSVC  Vs  Logistic regression</h4>
<p>Your task is to findout which of the above models is best suited for the given dataset and give reasons in this scenario. </p>
<p>Also, you need to give scenarios which each of these Models work better over the other.</p>

1. Load the dataset

In [143]:
data=pd.read_csv("Algerian_forest_fires_dataset_UPDATE-1.csv")
data.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [144]:
df = data.loc[124:] 
df = pd.concat([data.loc[:120], data.loc[125:]])
df['Classes  '] = df['Classes  '].str.strip()

In [145]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['Classes  '])
df['Classes  '] = le.transform(df['Classes  '])
df = df.drop(index=[167])
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,1
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,1
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,1
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,0
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,1
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,1
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,1
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,1

* Drop the unnecessary columns and use train_test_split

In [146]:
X = df.drop(columns=['Classes  '])
y = df['Classes  ']

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Apply Logistic Regression, SVC, Ridge and Lasso to compare the models.

In [147]:
from sklearn.linear_model import LogisticRegression, Ridge, Lasso
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
lr = LogisticRegression()

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lr = LogisticRegression(max_iter=1000)
lr.fit(X_train_scaled, y_train)

y_pred_lr = lr.predict(X_test_scaled)
acc_lr = accuracy_score(y_test, y_pred_lr)

print(f"Logistic Regression accuracy: {acc_lr}")

Logistic Regression accuracy: 0.9591836734693877

In [148]:
svc = SVC(kernel='linear', C=1.0)
svc.fit(X_train, y_train)
y_pred_svc = svc.predict(X_test)
acc_svc = accuracy_score(y_test, y_pred_svc)
print(f"SVC accuracy: {acc_svc}")

SVC accuracy: 0.9795918367346939

In [149]:
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train) 
y_pred_ridge = ridge.predict(X_test) 
acc_ridge = r2_score(y_test, y_pred_ridge) 
print(f"Ridge accuracy: {acc_ridge}")

Ridge accuracy: 0.6406241063535525

In [150]:

lasso = Lasso(alpha=0.1) 
lasso.fit(X_train, y_train) 
y_pred_lasso = lasso.predict(X_test)
acc_lasso = r2_score(y_test, y_pred_lasso)
print(f"Lasso accuracy : {acc_lasso}")

Lasso accuracy : 0.6464166527604762